.card-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
    background-color: lightcoral;
}


.form{
    background-color: floralwhite;
    display: flex;
}